<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- Include sidebar -->
    <%- include('partials/sidebar') %>    
    <div class="main-content">
        <header>
            <h2>Chào mừng trở lại, Đại vương!!</h2>
            <p>Hôm nay là <span id="current-date"></span></p>
        </header>

        <section class="dashboard">
            <div class="card">Nhân viên</div>
            <div class="card">Giấy phép</div>
            <div class="card">Quản lý</div>
            <div class="card">Cài đặt</div>
        </section>
    </div>

    <script> src = "/js/index.js"</script>
</body>
</html>
