<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đơn hàng</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/sidebar.ejs') %>

    <div class="main-content">
        <header>
            <h2>Thông tin dự án</h2>
            <input type="text" id="search-bar" placeholder="Tìm kiếm đơn hàng">
        </header>
        <div class="button-group">
            <button id="view-all">Tất cả đơn hàng</button>
            <button id="view-shipped">Đơn hàng đã giao</button>
            <button id="view-not-shipped">Đơn hàng chưa giao</button>
            <button id="toggle-view">Xem giá trị các đơn hàng</button>
            <button id="view-product-values">Xem giá trị sản phẩm</button>
        </div>
        <section class="order-table">
            <table id="order-table">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Ngày yêu cầu</th>
                        <th>Địa chỉ ship</th>
                        <th>Ngày ship hàng</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="order-data">
                    <!-- Dữ liệu dự án sẽ được chèn vào đây bằng JavaScript -->
                </tbody>
            </table>
        </section>
    </div>

    <div id="order-value-tooltip" style="display: none; position: absolute; background-color: #f9f9f9; border: 1px solid #ccc; padding: 5px; border-radius: 5px;"></div>

    <script src="/js/order.js"></script>
</body>
</html>