<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đơn hàng</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Include sidebar -->
    <%- include('partials/sidebar.ejs') %>

    <div class="main-content">
        <header>
            <h2>Thông tin dự án</h2>
            <input type="text" id="search-bar" placeholder="Tìm kiếm đơn hàng">
        </header>
        <button id = 'refresh'> Refresh </button>
        <section class="order-table">
            <table id="order-table">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Ngày yêu cầu</th>
                        <th>Địa chỉ ship</th>
                        <th>Ngày ship hàng</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="order-data">
                    <!-- Dữ liệu dự án sẽ được chèn vào đây bằng JavaScript -->
                </tbody>
            </table>
        </section>
    </div>

    <script src="/js/order.js"></script>
</body>
</html>