<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng chấm công</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/sidebar.ejs') %>

    <div class="main-content">
        <header>
            <h2>Bảng chấm công</h2>
            <input type="text" id="search-bar" placeholder="Tìm kiếm nhân viên...">
        </header>
        <button id = "hardEmployee">Tìm 10 nhân viên làm nhiều nhất</button>
        <button id="show-all-employees">Refresh</button>
        <button id="perfectScoreBtn">Tìm Nhân viên Điểm 10</button>

        <section class="timesheet-table">
            <table id="timesheet-table">
                <thead>
                    <tr>
                        <th>Mã Nhân viên</th>
                        <th>Tên Nhân viên</th>
                        <th>Giờ làm việc</th>
                        <th>Điểm</th>
                        <th>Bình luận</th>
                    </tr>
                </thead>
                <tbody id="timesheet-data">
                    <!-- Dữ liệu sẽ được chèn vào đây bằng JavaScript -->
                </tbody>
            </table>
        </section>
    </div>

    <script src="/js/timesheet.js"></script>
</body>
</html>